h1{
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color:rgb(75, 73, 211);
 }
 h2{
    text-align: center;
 }
 button{
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color:rgb(75, 73, 211);
 }
input{
    font-weight: bold;
    display: block;
    margin: auto;
    color: rgb(255, 255, 255);
    background-color:rgb(75, 73, 211);
 }
#popout{
    color: rgb(255, 255, 255);
    background-color:rgb(75, 73, 211);
 }
 select{
    color: rgb(255, 255, 255);
    background-color:rgb(75, 73, 211);
 }
 #body{
    color: rgb(255, 255, 255);
    background-color:rgb(57, 55, 158);
 }
 img{
    width:128px; 
    height:128px; 
    border:5px solid rgb(57, 55, 158);
    vertical-align:middle;
    margin:10px 10px;
 }
 #rotate, #rotate3d{
    width: 90%;
 }